*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --heading-color:#3A3A3A;
    --btn-bg-color:#E02C6D;
    --white-color:#ffffff;
    --footer-color:#0A0826;
    --box-shadow:rgb(239 230 230) 0px 0px 20px 5px;
}

/* header style */

header{
    margin-top: 30px;
}
.header-container{
    max-width: 1200px;
    margin: 0 auto;
}
.logo h1{
    font-size: 24px;
    font-weight: 700;
    color: var(--heading-color);
    cursor: pointer;
}

/* navbar style */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    display: flex;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
    margin-left: 10px;
}
.nav ul li a{
    text-decoration: none;
    padding: 7px 12px;
    font-size: 16px;
    font-weight: 600;
    color: var(--heading-color);
}
.shop-icon a{
    margin-left: 10px;
    color: var(--heading-color);
    ;
}
.shop-icon a i{
    font-size: 16px;
    transition: color 1s
}
/* navbar hover style */
.nav ul li a::before{
    content: "";
    width: 0;
    height: 3px;
    background-color:var(--btn-bg-color);
    position: absolute;
    margin-top: 28px;
    transition: all 1.5s;
    visibility:hidden
}
.nav ul li a:hover:before {
    visibility: visible;
    width: 50px;
}
.shop-icon a:hover i{
    color: var(--btn-bg-color);
}

/* banner section style */

.banner-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.banner-content{
    width: 50%;
}
.banner-content h1{
    font-size: 52px;
    color: var(--heading-color);
    font-weight: 700;
    line-height: 65px;
    animation: translate-h1 2s forwards;
}
.banner-content p{
    font-size: 16px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 16px;
    animation: translate-p 15s forwards;
}

/* button style */

.btn{
    border: none;
    padding: 12px 25px;
    margin-top: 26px;
    background-color: var(--btn-bg-color);
    border-radius: 25px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    animation: translate-btn 3s forwards;
}
.btn i{
    font-size: 16px;
    margin-left: 5px;
    transition: transform .7s;
    
}

/* button hover style */

.btn:hover i{
    transform: translateX(10px);
    cursor: pointer;
}

/* banner section styles */

.banner-image{
    width: 450px;
    height: 450px;
    position: relative;
}
.svg-bg{
    width: 450px;
    height: 450px;
}
.svg-bg circle{
    stroke: var(--btn-bg-color);
    transform-origin: center;
    animation: svg 1.5s 2s infinite alternate;
}

.banner{
    margin: 25px 0 0 20px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: transform 2s;
}
.svg-bg{
    z-index: -1;
    position: absolute;
}

/* banner image hover style */

.banner:hover{
    transform: scale(1.1);
}


/* ------------All Keyframes Animation----------------*/

@keyframes svg{
    0%{
        transform: scale(.8);
        fill: var(--btn-bg-color);
    }100%{
        transform: scale(1);
        fill: var(--white-color);
    }
}

@keyframes translate-h1{
    0%{
        transform: translateX(-1000px);
    }100%{
        transform: translateX(0px);
    }
}

@keyframes translate-p{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

@keyframes translate-btn{
    0%{
        transform: translateX(-1000px);
        opacity: 0;
    }100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

/* top-e-commerce section style */

.top-e-commerce{
    margin: 100px auto;
    padding: 15px 0;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}
.top-e-commerce img{
    margin-left: 15px;
}
.top-border{
    background:linear-gradient(90deg , var(--white-color) , #d8c5c5,var(--white-color));
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 0;
}
.bottom-border{
    background:linear-gradient(90deg , var(--white-color), #d8c5c5,var(--white-color));
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
}

/* product section styles */

main{
    margin-bottom: 120px;
}
.container{
    width: 1100px;
    margin: 0 auto 50px;
}
.section-title{
    text-align: center;
    margin: 100px 0 30px 0;
}
.section-title h1{
    font-size: 28px;
    font-weight: 600;
    color: var(--heading-color);
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 35px;
    justify-items: center;
}
.card-itame{
    width: 330px;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: transform .7s;
}


.card-image{
    transition: box-shadow .7s;
    border-radius: 5px;
}

.product-title , .creator-title{
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
    margin:16px 0 8px 0;
}
.product-price{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 8px;
}
.ratings i{
    color: #FB8200;
    font-size: 14px;
    font-weight: 600;
}
.ratings span{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #5E6366;
}
.product-discription{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
    margin-top: 5px;
}

/* cards hover style */

.card-itame:hover img{
    box-shadow: 0px 0px 16px 2px #dfd3d3;
}
.card-itame:hover{
    transform: translateY(-15px);
}

/* see more button style */

.see-more-btn{
    float: right;
    margin: 40px 30px 0 0;
}
.see-more-btn a{
    text-decoration: none;
    padding: 5px 10px;
    color: var(--btn-bg-color);
}
.see-more-btn a i{
    transition: transform .7s;
}

/* see more button hover style */

.see-more-btn a:hover i{
    transform: translateX(10px);
}

/* custome section style */

.container{
    width: 1100px;
    margin: 50px auto;

}
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.creator{
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: box-shadow .5s;
}

.creator-image{
    width: 60%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
}
.creator-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
}
.creator-content{
    width: 40%;
    margin-left: 15px;
}
.creator-title{
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
}
.discription{
    font-size: 16px;
    font-weight: 500;
}

/* creator hover style */

.creator:hover{
    box-shadow: var(--box-shadow);
}
.creator:hover .creator-image img{
    transform: scale(1.1); 
}

/* footer style */

footer{
    width: 100%;
    background-color:var(--footer-color);
}

.footer-content{
    padding: 50px 0;
    color: var(--white-color);
    text-align: center;
}
.footer-content h2{
    font-size: 24px;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 10px;
}
.footer-content p{
    font-size: 14px;
    font-weight: 700;
    color: #D9DBE1;
}

/* social icon style */

.social-icon{
    margin-top: 17px;
    display: flex;
    justify-content: center;
}
.social-icon a{
    display: block;
    width: 35px;
    height: 35px;
    padding: 7px;
    background-color: #1a173b;
    border-radius: 50%;
    margin-left: 5px;
    transition: background-color .5s ;
}

.social-icon a i{
    font-size: 20px;
    color: var(--white-color);
    transition: color 1s ;
}
/* social icon hover */

.social-icon a:hover{
    background-color: var(--btn-bg-color);
}
.social-icon a:hover i{
    color: var(--footer-color);
}

@media (max-width:420px) {
    .nav{
        display: none;
    }
    .logo h1{
        margin-left: 15px;
        font-size: 30px;
    }
    .banner-area{
        display: block;
    }
    .banner-image{
        margin-left: 0;
    }
    .banner-content{
        width: 100%;
    }
    .top-e-commerce{
        display: none;
    }
    .container{
        width: 90%;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr;
    }
      .creator{
        display: block;
    }
    .creator-content{
        width: 90%;
        margin-left: 15px;
    }
}
@media (min-width:421px) and (max-width:768px){
    .navbar{
        display: none;
    }
    .banner-area{
        display: block;
    }
    .banner-content{
        width: 100%;
    }
    .top-e-commerce{
        display: none;
    }
    .container{
        width: 90%;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .creator{
        display: block;
    }
    .creator-content{
        width: 90%;
        margin-left: 15px;
    }

}
